<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Companies Page</title>

    <link rel="shortcut icon" href="/assets/img/ECTAG.png">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="/assets/css/style.css">
    <!--[if lt IE 9]>
			<script src="/assets/js/html5shiv.min.js"></script>
			<script src="/assets/js/respond.min.js"></script>
		<![endif]-->
</head>

<body>

    <div class="main-wrapper">

        <div class="header">

            <div class="header-left">
                <a href="/home" class="logo">
                    <img src="/assets/img/ECTAG.png" alt="Logo">
                </a>
                <a href="/home" class="logo logo-small">
                    <img src="/assets/img/ECTAG.png" alt="Logo" width="30" height="30">
                </a>
                <a href="javascript:void(0);" id="toggle_btn">
                    <span class="bar-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </a>
            </div>




            <div class="top-nav-search">
                <form>
                    <input type="text" class="form-control" placeholder="">
                    <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>


            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>


            <ul class="nav user-menu">



                <li class="nav-item dropdown has-arrow main-drop">
                    <p class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <span class="user-img">
                            <% if (userData.gender=="Male" ) { %>
                                <img src="/assets/img/profiles/hrMale.png" alt="">
                                <% } else if (userData.gender=="Female" ) { %>
                                    <img src="/assets/img/profiles/hrFemale.png" alt="">
                                    <% } %>
                                        <span class="status online"></span>
                        </span>
                        <b><span>
                                <%= userData.name %>
                            </span></b>
                    </p>
                </li>

            </ul>
            <div class="dropdown mobile-user-menu show">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                        class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right ">
                    <a class="dropdown-item" href="profile.html">My Profile</a>
                    <a class="dropdown-item" href="settings.html">Settings</a>
                    <a class="dropdown-item" href="login.html">Logout</a>
                </div>
            </div>

        </div>


        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div class="sidebar-contents">
                    <div id="sidebar-menu" class="sidebar-menu">
                        <div class="mobile-show">
                            <div class="offcanvas-menu">
                                <div class="user-info align-center bg-theme text-center">
                                    <span class="lnr lnr-cross  text-white" id="mobile_btn_close">X</span>
                                    <a href="javascript:void(0)" class="d-block menu-style text-white">
                                        <div class="user-avatar d-inline-block mr-3">
                                            <img src="/assets/img/profiles/avatar-18.jpg" alt="user avatar"
                                                class="rounded-circle" width="50">
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="sidebar-input">
                                <div class="top-nav-search">
                                    <form>
                                        <input type="text" class="form-control" placeholder="Search here">
                                        <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <ul>
                            <li>
                                <a href="/home"><img src="/assets/img/home.svg" alt="sidebar_img">
                                    <span>Dashboard</span></a>
                            </li>
                            <li>
                                <a href="/applicants"><img src="/assets/img/employee.svg" alt="sidebar_img"><span>
                                        Applicants</span></a>
                            </li>
                            <% if(userData.role=="Admin" ) {%>
                                <li class="active">
                                    <a href="/company"><img src="/assets/img/company.svg"
                                            alt="sidebar_img"><span>Company</span></a>
                                </li>
                                <li>
                                    <a href="/ectag-employee"><img src="/assets/img/employee.svg"
                                            alt="sidebar_img"><span>
                                            ECTAG Employee</span></a>
                                </li>
                                <% } %>

                                    <li>
                                        <a href="/records"><img src="/assets/img/report.svg"
                                                alt="sidebar_img"><span>Records</span></a>
                                    </li>
                        </ul>
                        <ul class="logout">
                            <li>
                                <a href="/logout"><img src="/assets/img/logout.svg" alt="sidebar_img"><span>Log
                                        out</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="page-wrapper">
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-xl-12 col-sm-12 col-12 ">
                        <div class="breadcrumb-path mb-4">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home"><img src="/assets/img/dash.png" class="mr-2"
                                            alt="breadcrumb">Home</a>
                                </li>
                                <li class="breadcrumb-item active"> Company</li>
                            </ul>
                            <h3>Company </h3>
                        </div>
                    </div>

                    <div class="col-xl-12 col-sm-12 col-12 ">
                        <div class="row">
                            <div class="col-xl-12 col-sm-12 col-12 d-flex ">
                                <div class="card card-lists flex-fill">
                                    <div class="card-header">
                                        <h2 class="card-titles">
                                            <%= companyRecord.companyName %>
                                        </h2>

                                    </div>
                                    <div class="card-body">
                                        <form method="post" action="/edit-company/<%= companyRecord.id %>">
                                            <div class="row">
                                                <div class="modal-body">
                                                    <div class=" col-md-8 p-0">
                                                        <div class=" form-popup">
                                                            <label>Company Name</label>
                                                            <input type="text" id="companyName" name="companyName"
                                                                value="<%= companyRecord.companyName %>">
                                                        </div>
                                                        <div class=" form-popup">
                                                            <label>Company Address </label>
                                                            <input type="text" id="companyAddress" name="companyAddress"
                                                                value="<%= companyRecord.companyAddress %>">
                                                        </div>
                                                        <div class=" form-popup">
                                                            <label>Contact Number</label>
                                                            <input type="text" id="contactNo" name="contactNo"
                                                                value="<%= companyRecord.contactNo %>">
                                                        </div>
                                                        <div class=" form-popup">
                                                            <label>Contact Person</label>
                                                            <input type="text" id="contactPerson" name="contactPerson"
                                                                value="<%= companyRecord.contactPerson %>">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-btn">
                                                <button type="submit" class="btn btn-apply">Update Company
                                                    Information</button>
                                                <a href="/ectag-employee" class="btn btn-secondary ">Cancel</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="customize_popup">
                        <div class="modal fade" id="addcompany" data-backdrop="static" data-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Add Company
                                            Information</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form method="post" action="/addCompany">
                                        <div class="modal-body">
                                            <div class=" col-md-12 p-0">
                                                <div class=" form-popup">
                                                    <label>Company Name</label>
                                                    <input type="text" id="companyName" name="companyName">
                                                </div>
                                                <div class=" form-popup">
                                                    <label>Company Address </label>
                                                    <input type="text" id="companyAddress" name="companyAddress">
                                                </div>
                                                <div class=" form-popup">
                                                    <label>Contact Number</label>
                                                    <input type="text" id="contactNo" name="contactNo">
                                                </div>
                                                <div class=" form-popup">
                                                    <label>Contact Person</label>
                                                    <input type="text" id="contactPerson" name="contactPerson">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">Add</button>
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="customize_popup">
                        <div class="modal fade" id="editcompany" data-backdrop="static" data-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Edit Company
                                            Information
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class=" col-md-12 p-0">
                                                <div class=" col-md-12 p-0">
                                                    <div class=" form-popup">
                                                        <label>Company Name</label>
                                                        <input type="text" id="companyName" name="companyName">
                                                    </div>
                                                    <div class=" form-popup">
                                                        <label>Company Address </label>
                                                        <input type="text" id="companyAddress" name="companyAddress">
                                                    </div>
                                                    <div class=" form-popup">
                                                        <label>Contact Number</label>
                                                        <input type="text" id="contactNo" name="contactNo">
                                                    </div>
                                                    <div class=" form-popup">
                                                        <label>Contact Person</label>
                                                        <input type="text" id="contactPerson" name="contactPerson">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary">Add</button>
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="customize_popup">
                        <div class="modal fade" id="editoffice" tabindex="-1" aria-labelledby="staticBackdropLabels"
                            aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabels">Edit Office</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class=" col-md-12 p-0">
                                            <div class=" form-popup">
                                                <input type="text" placeholder="Office Name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary">Add</button>
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="customize_popup">
                        <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="staticBackdropLabels1"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered ">
                                <div class="modal-content">
                                    <div class="modal-header text-centers border-0">
                                        <h5 class="modal-title text-center" id="staticBackdropLabels1">Are
                                            You Sure
                                            Want to Delete?</h5>
                                    </div>
                                    <div class="modal-footer text-centers">
                                        <button type="button" class="btn btn-primary">Delete</button>
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <script data-cfasync="false"
                    src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                <script src="/assets/js/jquery-3.6.0.min.js"></script>

                <script src="/assets/js/popper.min.js"></script>
                <script src="/assets/js/bootstrap.min.js"></script>

                <script src="/assets/js/feather.min.js"></script>

                <script src="/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

                <script src="/assets/js/script.js"></script>
</body>

</html>