<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Profile Page</title>

    <link rel="shortcut icon" href="/assets/img/ectag-icon.jpg">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="/assets/plugins/select2/css/select2.min.css">

    <link rel="stylesheet" href="/assets/css/style.css">
    <!--[if lt IE 9]>
			<script src="/assets/js/html5shiv.min.js"></script>
			<script src="/assets/js/respond.min.js"></script>
		<![endif]-->
</head>

<body>

    <div class="main-wrapper">

        <div class="header">

            <div class="header-left">
                <a href="/home" class="logo">
                    <img src="/assets/img/ectag-header.jpg" alt="Logo">
                </a>
                <a href="/home" class="logo logo-small">
                    <img src="/assets/img/ectag-icon.jpg" alt="Logo" width="30" height="30">
                </a>
                <a href="javascript:void(0);" id="toggle_btn">
                    <span class="bar-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </a>
            </div>




            <div class="top-nav-search">
                <form>
                    <input type="text" class="form-control" placeholder="">
                    <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>


            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>


            <ul class="nav user-menu">


                <li class="nav-item dropdown has-arrow main-drop">
                    <p class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <span class="user-img">
                            <% if (userData.gender=="Male" ) { %>
                                <img src="/assets/img/profiles/hrMale.png" alt="">
                                <% } else if (userData.gender=="Female" ) { %>
                                    <img src="/assets/img/profiles/hrFemale.png" alt="">
                                    <% } %>
                                        <span class="status online"></span>
                        </span>
                        <b><span>
                                <%= userData.name %>
                            </span></b>
                    </p>
                </li>

            </ul>
            <div class="dropdown mobile-user-menu show">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                        class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right ">
                    <a class="dropdown-item" href="profile.html">My Profile</a>
                    <a class="dropdown-item" href="settings.html">Settings</a>
                    <a class="dropdown-item" href="login.html">Logout</a>
                </div>
            </div>

        </div>


        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div class="sidebar-contents">
                    <div id="sidebar-menu" class="sidebar-menu">
                        <div class="mobile-show">
                            <div class="offcanvas-menu">
                                <div class="user-info align-center bg-theme text-center">
                                    <span class="lnr lnr-cross  text-white" id="mobile_btn_close">X</span>
                                    <a href="javascript:void(0)" class="d-block menu-style text-white">
                                        <div class="user-avatar d-inline-block mr-3">
                                            <img src="/assets/img/profiles/avatar-18.jpg" alt="user avatar"
                                                class="rounded-circle" width="50">
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="sidebar-input">
                                <div class="top-nav-search">
                                    <form>
                                        <input type="text" class="form-control" placeholder="Search here">
                                        <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <ul>
                            <li>
                                <a href="/home"><img src="/assets/img/home.svg" alt="sidebar_img">
                                    <span>Dashboard</span></a>
                            </li>
                            <li <% if(profileData.status == "Pending") { %> class="active" <% } %> >
                                <a href="/applicants"><img src="/assets/img/employee.svg" alt="sidebar_img"><span>
                                    Applicants</span></a>
                            </li>
                            <% if(userData.role == "Admin") {%>
                                <li>
                                    <a href="/company"><img src="/assets/img/company.svg" alt="sidebar_img"><span>Company</span></a>
                                </li>
                                <li <% if(profileData.status == "ECTAG") { %> class="active" <% } %> >
                                    <a href="/ectag-employee"><img src="/assets/img/employee.svg" alt="sidebar_img"><span>
                                            ECTAG Employee</span></a>
                                </li>
                            <% } %>

                            <li <% if(profileData.status == "Employee" || profileData.status == "Blacklisted" ) { %> class="active" <% } %> >
                                <a href="/records"><img src="/assets/img/report.svg"
                                        alt="sidebar_img"><span>Records</span></a>
                            </li>
                        </ul>
                        <ul class="logout">
                            <li>
                                <a href="/logout"><img src="/assets/img/logout.svg" alt="sidebar_img"><span>Log
                                        out</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="page-wrapper">
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-xl-12 col-sm-12 col-12 ">
                        <div class="breadcrumb-path mb-4">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home"><img src="/assets/img/dash.png"
                                            class="mr-2" alt="breadcrumb">Home</a>
                                </li>
                                <li class="breadcrumb-item active">
                                        Applicants
                                </li>
                            </ul>
                            <h3>
                                    Applicant Profile         
                            </h3>
                        </div>
                    </div>

                        <!-- Applicant Table -->

                        <div class="col-xl-12 col-sm-12 col-6">
                            <form method="POST" action="/applicant-update/<%= profileData.id %>">
                                <div class="card ">
                                    <div class="card-header">
                                        <h2 class="card-titles">Employment Details<span>Insert text here.</span>
                                        </h2>
                                    </div>
                                    <div class="card-body">

                                        <div class="row">
                                            <div class="col-xl-4 col-sm-12 col-12">
                                                <div class="form-group">
                                                    <input type="text" id="lastname" name="lastname" placeholder="Last Name"
                                                        value="<%= profileData.lastName %>" required <% if
                                                        (userData.role=="HR Assistant" ){ %> disabled <% } %> >
                                                </div>
                                            </div>

                                            <div class="col-xl-4 col-sm-12 col-12">
                                                <div class="form-group">
                                                    <input type="text" id="firstname" name="firstname" placeholder="First Name"
                                                        value="<%= profileData.firstName %>" required <% if
                                                        (userData.role=="HR Assistant" ){ %> disabled <% } %> >
                                                </div>
                                            </div>

                                            <div class="col-xl-4 col-sm-12 col-12">
                                                <div class="form-group">
                                                    <input type="text" id="middlename" name="middlename"
                                                        placeholder="Middle Name" value="<%= profileData.middleName %>" required
                                                        <% if (userData.role=="HR Assistant" ){ %> disabled <% } %> >
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-xl-4 col-sm-12 col-12 ">
                                                <div class="form-group">
                                                    <input type="text" id="age" name="age" placeholder="Age"
                                                        value="<%= profileData.age %>" required <% if
                                                        (userData.role=="HR Assistant" ){ %> disabled <% } %> >
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-sm-12 col-12 ">
                                                <div class="form-group">
                                                    <select id="sex" name="sex" required <% if
                                                    (userData.role=="HR Assistant" ){ %> disabled <% } %> >
                                                        <option value="Male" <% if(profileData.sex == "Male") { %> selected <% } %> >Male</option>
                                                        <option value="Female" <% if(profileData.sex == "Female") { %> selected <% } %> >Female</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-sm-12 col-12 ">
                                                <div class="form-group">
                                                    <input type="text" id="dateofbirth" name="dateofbirth"
                                                        placeholder="Birthdate" value="<%= profileData.birthdate %>" required <%
                                                        if (userData.role=="HR Assistant" ){ %> disabled <% } %> >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-12 col-sm-12 col-12 ">
                                                <div class="form-group">
                                                    <input type="text" id="address" name="address"
                                                        value="<%= profileData.address %>" placeholder="Address" required <% if
                                                        (userData.role=="HR Assistant" ){ %> disabled <% } %> >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6 col-sm-12 col-12 ">
                                                <div class="form-group">
                                                    <input type="text" id="contactNumber" name="contactNumber"
                                                        value="<%= profileData.contactNo %>" placeholder="Contact No." required
                                                        <% if (userData.role=="HR Assistant" ){ %> disabled <% } %> >
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-sm-12 col-12 ">
                                                <div class="form-group">
                                                    <input type="text" id="Position" name="Position"
                                                        value="<%= profileData.position %>" placeholder="Position" required <%
                                                        if (userData.role=="HR Assistant" ){ %> disabled <% } %> >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-4 col-sm-12 col-12 ">
                                                <div class="form-group">
                                                    <input type="text" id="SSS" name="SSS" placeholder="SSS No."
                                                        value="<%= profileData.sssNo %>" required <% if
                                                        (userData.role=="HR Assistant" ){ %> disabled <% } %> >
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-sm-12 col-12 ">
                                                <div class="form-group">
                                                    <input type="text" id="PhilHealth" name="PhilHealth"
                                                        value="<%= profileData.philHealthNo %>" placeholder="Phil Health No."
                                                        required <% if (userData.role=="HR Assistant" ){ %> disabled <% } %> >
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-sm-12 col-12 ">
                                                <div class="form-group">
                                                    <input type="text" id="Pagibig" name="Pagibig"
                                                        value="<%= profileData.pagibigNo %>" placeholder="Pag-ibig No." required
                                                        <% if (userData.role=="HR Assistant" ){ %> disabled <% } %> >
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xl-4 col-sm-12 col-12 ">
                                                <div class="form-group">
                                                    <select name="status" id="status" onchange="reasonBlacklisted()" <% if (userData.role=="HR Assistant" ){ %> disabled <% } %> >
                                                        <option value="Pending" <% if(profileData.status=="Pending" ) {%>
                                                            selected <% } %> > Pending </option>
                                                        <option value="Accepted" <% if(profileData.status=="Accepted" ) {%>
                                                            selected <% } %> > Accepted </option>
                                                        <option value="Blacklisted" <% if(profileData.status=="Blacklisted" )
                                                            {%> selected <% } %> > Blacklisted </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xl-8 col-sm-12 col-12 ">
                                                <div class="form-group">
                                                    <input type="text" id="reason" name="reason" style="visibility: hidden;" placeholder="Reason for Blacklisting">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <% if(userData.role == "HR Head" || userData.role == "Admin") { %>

                                <div class="form-btn">
                                    <button type="submit" class="btn btn-apply">Update Employee</button>
                                    <button type="button" class="btn btn-secondary" onclick="window.location='/records'">Cancel</button>
                                </div>

                                <% } %>
                            </form>
                        </div>
                    
                </div>
            </div>

            <script>
            
                function reasonBlacklisted() {
                    var currentStatus = document.getElementById("status");
                    if (currentStatus.value == "Blacklisted"){
                        document.getElementById("reason").style.visibility="visible";
                    }else{
                        document.getElementById("reason").style.visibility="hidden";
                    }
                }
    
            </script>

            <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
            <script src="/assets/js/jquery-3.6.0.min.js"></script>

            <script src="/assets/js/popper.min.js"></script>
            <script src="/assets/js/bootstrap.min.js"></script>

            <script src="/assets/js/feather.min.js"></script>

            <script src="/assets/plugins/select2/js/select2.min.js"></script>

            <script src="/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

            <script src="/assets/js/script.js"></script>
</body>

</html>