<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>Employee Page</title>

        <link rel="shortcut icon" href="assets/img/ectag-icon.jpg">

        <link rel="stylesheet" href="assets/css/bootstrap.min.css">

        <link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">

        <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
        <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

        <link rel="stylesheet" href="assets/css/style.css">
        <!--[if lt IE 9]>
                    <script src="assets/js/html5shiv.min.js"></script>
                    <script src="assets/js/respond.min.js"></script>
                <![endif]-->
    </head>

    <body>

        <div class="main-wrapper">

            <div class="header">

                <div class="header-left">
                    <a href="/home" class="logo">
                        <img src="assets/img/ectag-header.jpg" alt="Logo">
                    </a>
                    <a href="/home" class="logo logo-small">
                        <img src="assets/img/ectag-icon.jpg" alt="Logo" width="30" height="30">
                    </a>
                    <a href="javascript:void(0);" id="toggle_btn">
                        <span class="bar-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </a>
                </div>

                <div class="top-nav-search">
                    <form>
                        <input type="text" class="form-control" placeholder="">
                        <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>

                <a class="mobile_btn" id="mobile_btn">
                    <i class="fas fa-bars"></i>
                </a>

                <ul class="nav user-menu">

                    <li class="nav-item dropdown has-arrow main-drop">
                        <p class="dropdown-toggle nav-link" data-toggle="dropdown">
                            <span class="user-img">
                                <% if (userData.gender=="Male" ) { %>
                                    <img src="assets/img/profiles/hrMale.png" alt="">
                                    <% } else if (userData.gender=="Female" ) { %>
                                        <img src="assets/img/profiles/hrFemale.png" alt="">
                                        <% } %>
                                            <span class="status online"></span>
                            </span>
                            <b><span>
                                    <%= userData.name %>
                                </span></b>
                        </p>
                    </li>

                </ul>
                <div class="dropdown mobile-user-menu show">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                            class="fa fa-ellipsis-v"></i></a>
                    <div class="dropdown-menu dropdown-menu-right ">
                        <a class="dropdown-item" href="profile.html">My Profile</a>
                        <a class="dropdown-item" href="settings.html">Settings</a>
                        <a class="dropdown-item" href="login.html">Logout</a>
                    </div>
                </div>

            </div>

            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
                    <div class="sidebar-contents">
                        <div id="sidebar-menu" class="sidebar-menu">
                            <div class="mobile-show">
                                <div class="offcanvas-menu">
                                    <div class="user-info align-center bg-theme text-center">
                                        <span class="lnr lnr-cross  text-white" id="mobile_btn_close">X</span>
                                        <a href="javascript:void(0)" class="d-block menu-style text-white">
                                            <div class="user-avatar d-inline-block mr-3">
                                                <img src="assets/img/profiles/avatar-18.jpg" alt="user avatar"
                                                    class="rounded-circle" width="50">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="sidebar-input">
                                    <div class="top-nav-search">
                                        <form>
                                            <input type="text" class="form-control" placeholder="Search here">
                                            <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <a href="/home"><img src="/assets/img/home.svg" alt="sidebar_img">
                                        <span>Dashboard</span></a>
                                </li>
                                <li class="active">
                                    <a href="/applicants"><img src="/assets/img/employee.svg" alt="sidebar_img"><span>
                                            Applicants</span></a>
                                </li>
                                <% if(userData.role=="Admin" ) {%>
                                    <li>
                                        <a href="/company"><img src="/assets/img/company.svg"
                                                alt="sidebar_img"><span>Company</span></a>
                                    </li>
                                    <li>
                                        <a href="/ectag-employee"><img src="/assets/img/employee.svg"
                                                alt="sidebar_img"><span>
                                                ECTAG Employee</span></a>
                                    </li>
                                    <% } %>
                                        <li>
                                            <a href="/records"><img src="/assets/img/report.svg"
                                                    alt="sidebar_img"><span>Records</span></a>
                                        </li>
                            </ul>
                            <ul class="logout">
                                <li>
                                    <a href="/logout"><img src="assets/img/logout.svg" alt="sidebar_img"><span>Log
                                            out</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="page-wrapper">
                <div class="content container-fluid">
                    <div class="row">
                        <div class="col-xl-12 col-sm-12 col-12">
                            <div class="breadcrumb-path mb-4">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/home"><img src="/assets/img/dash.png"
                                                class="mr-2" alt="breadcrumb" />Home</a></li>
                                    <li class="breadcrumb-item active"> Applicants</li>
                                </ul>
                                <h3>Applicants</h3>
                            </div>
                        </div>
                        <div class="col-xl-12 col-sm-12 col-12 mb-4">
                            <div class="row">
                                <div class="col-xl-10 col-sm-6 col-12">
                                    <label class="employee_count">
                                        <%= employeeInfo.length %> Contractual Applicants
                                    </label>
                                </div>
                                <div class="head-link-set col-xl-2 col-sm-6 col-12 ">
                                    <a class="btn-add" href="/add-employee"><i data-feather="plus"></i> Add Person</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-sm-12 col-12 mb-4">
                            <div class="card">
                                <div class="table-responsive">
                                    <table class="table  custom-table no-footer">
                                        <thead class="table-heading">
                                            <tr>
                                                <th>Name</th>
                                                <th>Age</th>
                                                <th>Address</th>
                                                <th>Contact Number</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% employeeInfo.forEach((dataInfo)=> {%>
                                                <tr>
                                                    <td>
                                                        <div class="table-img">
                                                            <a href="/applicant-profile/<%= dataInfo.id %>">
                                                                <img src="assets/img/profiles/avatar-13.jpg"
                                                                    alt="profile" class="img-table" />
                                                            </a>
                                                            <label>
                                                                <%= dataInfo.lastName%>, <%= dataInfo.firstName%>
                                                                        <%= dataInfo.middleName%>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td><label>
                                                            <%= dataInfo.age %>
                                                        </label></td>
                                                    <td><label>
                                                            <%= dataInfo.address %>
                                                        </label></td>
                                                    <td><label>
                                                            <%= dataInfo.contactNo %>
                                                        </label></td>
                                                    <td><label class="action_label">
                                                            <%= dataInfo.status %>
                                                        </label></td>
                                                </tr>
                                                <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <script src="assets/js/jquery-3.6.0.min.js"></script>

        <script src="assets/js/popper.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>

        <script src="assets/js/feather.min.js"></script>

        <script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

        <script src="assets/plugins/select2/js/select2.min.js"></script>

        <script src="assets/js/script.js"></script>
    </body>

</html>